{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Log in error, try again</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>You don't have access, you need to log in!.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="display-6 d-flex flex-row justify-content-center mb-3" >Fill login information</div>
    <div class="d-flex flex-row justify-content-around" style="max-width:400px; margin:0 auto">
      <div><h5>Username:</h5></div>
      <div>{{ form.username }}</div>
    </div>
    <div class="d-flex flex-row justify-content-around" style="max-width:400px; margin:0 auto">
      <div><h5>Password :</h5></div>
      <div>{{ form.password }}</div>
    </div>
    <div class="d-flex flex-row justify-content-around mt-3" style="max-width:400px; margin:0 auto">
      <input type="submit" value="Log In" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>

  <p><a class="mt-5" href="{% url 'password_reset' %}">Forget Password?</a></p>
  
{% endblock %}